@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  background-color: #7f00ff;
}

.mainContainer {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainText {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: bold;
  font-size: 40px;
}
